

.container-img {
  width: 100%;
  max-height: 700px;
  height: 700px;
  --color: #ebcf683e;
  /* background-color: #191a1a; */
  background-image: linear-gradient(180deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent),
    linear-gradient(45deg,
      transparent 24%,
      var(--color) 35%,
      var(--color) 26%,
      transparent 17%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent);
  background-size: 55px 55px;
}

.imgs {
  width: 100%;
  height: 5%;
  /* background-color: var(--bg-color-page); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img {
  width: 150px;
  height: 100px;
  padding: 5px;
}

.img img {
  width: 100%;
  height: 100%;
}

.list-group {
  width: 75%;
}

.card {
  background-color: #1f1e1ebe;
  color: #fff;
  text-align: center;
  max-width: 300px;
}

.description {
  background-color: transparent;
  color: #d8e4e4;
  text-align: start;
  font-weight: bold;
}

.tech {
  color: #9ea7a7;
}

/* From Uiverse.io by vinodjangid07 */
.Btn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  cursor: pointer;
  position: relative;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
}

.svgIcon {
  transition-duration: .3s;
}

.svgIcon path {
  fill: #fff;
}

.text {
  position: absolute;
  color: #fff;
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: .4s;
}

.Btn:hover {
  width: 110px;
  transition-duration: .4s;
  border-radius: 30px;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: .4s;
}

.Btn:hover .svgIcon {
  opacity: 0;
  transition-duration: .3s;
}

@media (max-width: 1500px) {
  .container-img {
    max-height: 750px;
    height: 750px;
  }
}

@media (max-width: 900px) {

  .img {
    width: 120px;
    height: 70px;
    padding: 5px;
  }

}

@media (max-width: 680px) {
  .container-img {
    max-height: 820px;
    height: 820px;
  }
}

@media (max-width: 480px) {
  .container-img {
    max-height: 1000px;
    height: 1000px;
    font-size: 7px;
  }

}