h1, h2, h3, h4, h5, h6 {
    font-family: "Bungee", serif;
    font-weight: 400;
    font-style: normal;
}

.container-section {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.container-section>section {
    height: 100vh;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;

}

@supports not selector(::-webkit-scrollbar) {
    * {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

@media (max-width: 1300px) {
    .container-section {
        height: auto;
        overflow-y: none;
        scroll-snap-type: none;
    }

    .container-section > section {
        height: auto;
        scroll-snap-align: none;
        padding: 10px;
        gap: 10px;
    }
}

.title {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-underline-offset: 8px;
}

.myname,
.saludo {
    color: var(--primary-color);
}

.information,
.skills,
.soft-skills,
.list-project {
    width: 100%;
    padding: 20px 10%;
    margin: 0;
}

.presentation {
    font-size: 25px;
    font-weight: 600;
}

.description {
    font-size: 20px;
}

.description span {
    color: var(--primary-color);
}

.image img {
    width: 70%;
    max-width: 70%;
}

/* btns contacts */
/* From Uiverse.io by vinodjangid07 */
/* From Uiverse.io by akshayjalluri6 */


/* Skills */

.skills .title {
    text-align: center;
    padding: 25px 0;
}

.list-skills {
    padding: 50px 0;
    margin: 0 20%;
}

.skills .skill {
    background-color: #1f1e1ebe;
    width: 150px;
    height: 150px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.name-logo {
    font-size: 20px;
    margin: 0;
    padding: 15px 0;
}

.skill:hover .svgIconSkills path {
    fill: var(--primary-color);
    transition-duration: 0.3s;
}

/* soft skills */
.soft-skills .title {
    text-align: center;
    padding: 25px 0;
}

.list-soft {
    padding: 50px 0;
    margin: 0 5%;
    gap: 20px;
    flex-wrap: wrap;
}

.soft {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.soft-one {
    flex: 1;
}

.soft-two {
    flex: 1;
}

.soft .logo {
    margin: auto 0;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.soft .svgIcon path {
    fill: var(--primary-color);
    transition-duration: 0.3s;
}

.soft .soft-text {
    flex: 3;
}

.soft-text .subtitle {
    font-weight: bold;
}

/* List projects */

.list-project .title {
    text-align: center;
    padding: 25px 0;
}

.projects {
    padding: 2% 0;
    margin: 0 5%;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {

    .information {
        flex-direction: column;
    }

    .image {
        width: 80%;
        margin: 0 auto;
    }

    .list-soft {
        flex-direction: column;
        gap: 10px;
    }

    .soft {
        flex-direction: column;
        align-items: center;
        /* Centrar elementos horizontalmente */
    }

    .soft .logo {
        margin-bottom: 10px;
        /* Separar logo del texto */
    }
}

@media (max-width: 480px) {
    .soft .logo {
        justify-content: center;
    }

    .soft .soft-textt {
        text-align: center;
    }
}