@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color-page-light: #fff;
    --bg-color-page: #1E212B;

    --primary-color: #FFC800;
    --secondary-color: #ebce68;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-page-light);
    color: white;
}

* {
    --sb-track-color: #484848;
    --sb-thumb-color: #d6b419;
    --sb-size: 8px;
}

*::-webkit-scrollbar {
    width: var(--sb-size)
}

*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 20px;

}