:root {
    --bg-color-page: #1E212B;

    --primary-color: #FFC800;
    --secondary-color: #ebce68;
}

body {
    background-color: var(--bg-color-page);
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
